@font-face{
    font-family: Lobster;
    src: url(../asset/Fonts/Lobster-Regular.ttf)
  }
@font-face{
    font-family: Kanit;
    src: url(../asset/Fonts/Kanit-Light.ttf)
  }  

/*-----------------------Variable-----------------------*/
:root{
    --color-bg: #52a0bd;
    --color-h1: #fafafa;
    --color-bg-h1: #005a78;
    --color-h2: #005a78;
    --color-white-font: #ffffff;
    --color-bg-article: #fafafa;
    --color-bg-link: #2c3e50;
    --color-bg-hover-link: #1d71aa;
    --color-bg-footer: #2c3e50;
}

/*-----------------------Reset-----------------------*/
html{
    font-size: 62.5%;
}
*{
    margin: 0rem;
    padding: 0;
    background-color: var(--color-bg);
    list-style-type: none;
    box-sizing: border-box;
}

/*-----------------------Font family and size-----------------------*/
*{
    font-family: Kanit;
    font-size: 1.7rem;
}
h1{
    font-family: Lobster;
    font-size: 4rem;
}
h1 > sup{
    font-family: Lobster;
    font-size: 4rem;
}
h2{
    font-family: Lobster;
    font-size: 3rem;
}

/*-----------------------Font Color and background color-----------------------*/
h1{
    color: var(--color-h1);
    background-color: var(--color-bg-h1);
}
h1 sup{
    color: var(--color-h1);
    background-color: var(--color-bg-h1);
}
h2{
    color: var(--color-h2);
}
/* Class */
.colorBgBlock{
    background-color: var(--color-bg-article);
}
.colorBgBlock *{
    background-color: var(--color-bg-article);
}
.colorBgBlock > * > i{
    background-color: var(--color-bg-article);
}
.colorBgBlock > * > figcaption > *{
    background-color: var(--color-bg-article);
}
.colorBgLink *{
    background-color: var(--color-bg-link);
}
.footerColor{
    color: var(--color-white-font);
    background-color: var(--color-bg-footer);
}
.footerColor *{
    color: var(--color-white-font);
    background-color: var(--color-bg-footer);
}
/* Links */
a{
    color: var(--color-white-font);
    background-color: var(--color-bg-link);
}
a:hover{
    background-color: var(--color-bg-hover-link);
}
/* Button */
.search{
    color: var(--color-white-font);
    background-color: #1d71aa;
}
.emptyBasket{
    color: var(--color-white-font);
    background-color: #c0392b;
}
.emptyBasket > *{
    color: var(--color-white-font);
    background-color: #c0392b;
}
.addBasket{
    color: var(--color-white-font);
    background-color: #166a3d;
}

/*-----------------------Other Font Settings-----------------------*/
h1{
    text-shadow: 1px 2px 0px black;
}
/* Class */
.textCenter{
    text-align: center;
}
.uppercase{
    text-transform: uppercase;
}
/* Links */
a{
    text-decoration: none;
    font-style: normal;
}

/*-----------------------Padding, Marging and Width-----------------------*/
h1{
    padding: 1%;
}
h2{
    padding: 1%;
}
img{
    width: 100%;
}
p{
    padding-top: 1%;
    padding-bottom: 1%;
}
/* Class */
.blockSize{
    max-width: 80rem;
    margin: 1rem auto 0;
    padding: 0.5%;
}
.button{
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-left: 5%;
    padding-right: 5%;
}
/* links */
a{
    display: block;
    padding: 1%;
    margin: 0.2%;
}

/*-----------------------Button-----------------------*/
.button{
    transition-duration: 0.4s;
    border-radius: 6px;
    border: 0px;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2);
}
.button:hover {
    filter: brightness(85%);
  }
/*-----------------------A ranger-----------------------*/
header{
    position: sticky;
    top: 0rem;
}